# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environment
venv/
env/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
*.pid

# VS Code / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Others
*.tgz
*.tar.gz
*.zip
